.App {
  text-align: center;
}

.guesswho {
  width: 20%;
  position: fixed;
  left: 10%;

  
}
.guesswho {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .guesswho {
    animation: App-logo-grow infinite .6s alternate ease-in;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-grow {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.02, 1.02);
  }
  
}
